.filter_name{
    display: flex;
    justify-content: center;
}

.filters{
    text-align:left;
}

.container_hp{
    display: flex;
    gap: 2.5em 2rem
}

.container_filter_priceCities{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.container_listHotels{
    margin: 2rem;
}